@import '../vars';

.button {
    background: $color1;
    color: white;
    border: none;
    border-radius: 24px;
    padding: 12px 32px;
    box-shadow: $elevation-1;

    &:hover, &:active {
        background: darken($color: $color1, $amount: 5%);
    }

    &:hover {
        box-shadow: $elevation-2;
    }

    &:active {
        box-shadow: $elevation-1 !important;
    }
}
