$color1: #ff7b5c;
$color2: #ff6c81;

.app {
  height: 100%;
  width: 100%;
  display: flex;

  // Mobile
  @media (max-width: 640px) {
    flex-direction: column;
    background: linear-gradient($color1, $color2);
  }

  // Desktop
  @media (min-width: 640px) {
    flex-direction: row;
    background: linear-gradient(90deg, $color1, $color2);
  }

  div {
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.petr {
  height: 200px;
  animation: jump 1s infinite;

  @keyframes jump {
    0%, 100% {
      transform: translateY(0);
    }

    62% {
      transform: translateY(-75px);
    }
  }
}
