@import './vars';

.app {
    height: 100%;
    width: 100%;
    display: flex;

    > div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
    }

    // Mobile
    @media (max-width: 640px) {
        flex-direction: column;

        .form {
            margin: 32px;
        }
    }

    // Desktop
    @media (min-width: 640px) {
        flex-direction: row;

        .form {
            margin: 10vh 12.5vw;
        }
    }
}

.petr {
    height: 200px;
    animation: jump 1s infinite;
    margin-top: 75px;

    @keyframes jump {
        0%,
        100% {
        transform: translateY(0);
        }

        62% {
        transform: translateY(-75px);
        }
    }
}
